.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex;
    border: 3px solid rgb(0, 255, 242);
    border-radius: 10px;
    padding: 1%;
    background-color: rgb(18, 17, 31);
}

.form .form-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input input {
    margin: 10px;
    border: 1px solid rgb(0, 225, 255);
    font-size: 12px;
    outline: none;
    border-radius: 5px;
}

.button {
    padding: 10px;
    background-color: white;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(4, 69, 73);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(253, 253, 253);
    transition: .4s all;
}

.button:hover{
    transform: scale(1.1);
}