.header {
    background-color: rgb(4, 69, 73);
    padding: 10px 15px;
    display:flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}