.footer{
    width: 100%;
    padding: 5px 0px;
    background-color: rgb(4, 69, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    bottom: 0;
    float: left;
}


.footer p{
    color: aliceblue;
    font-size: 0.9rem;
}